:root {
  --blue: rgb(2, 22, 90);
  --white: #ffffff;
  --green: rgb(31, 176, 140);
  --darker-green: rgb(5, 144, 175);
}

/* Antras dizainas: */
/* :root {
  --blue: rgb(8, 57, 219);
  --white: #ffffff;
  --green: rgb(4, 165, 125);
  --darker-green: rgb(46, 211, 248);
} */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  width: 400px;
}

.form-header {
  background-color: var(--blue);
  color: var(--white);
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.form-body {
  background-color: var(--green);
  padding: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
}

.form-body p {
  color: var(--white);
  font-size: 12px;
}

button {
  margin: 20px 0px 10px 0px;
  padding: 5px;
  width: 150px;
  background-color: var(--darker-green);
  border-radius: 5px;
  border-style: none;
}
