:root {
  --button-color: blue;
  --nav-color: darkblue;
  --primary-color: white;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

/* header styling */

header nav {
  background-color: var(--nav-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 40px;
  & a {
    color: var(--primary-color);
    text-decoration: none;
  }
}

header nav ul a {
  color: gray;
}

header nav ul a:hover {
  color: var(--primary-color);
  cursor: pointer;
}

header ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

.hero {
  background-image: url(https://framerusercontent.com/images/XB51LRYPmyKAo8GzGxZERu9xk.jpeg?scale-down-to=1024&width=2560&height=1440);
  text-align: center;
}

.hero h1 {
  margin-top: 0;
  color: var(--primary-color);
  padding-top: 60px;
}

.hero p {
  color: var(--primary-color);
}

.button-one,
.button-two {
  color: var(--primary-color);
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 600;
  margin-bottom: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

.button-one {
  background-color: var(--button-color);
  border: 2px solid var(--button-color);
}

.button-two {
  background: none;
  border: 2px solid var(--primary-color);
}

/* Section one */

.section-one {
  padding: 40px 40px 20px 40px;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.featured-title {
  width: 250px;
}

.featured-title p {
  text-align: left;
}

.icon-box {
  background-color: var(--button-color);
  width: 50px;
  height: 35px;
  text-align: center;
  border-radius: 5px;
}

.icon-box i {
  color: var(--primary-color);
  padding-top: 5px;
  font-size: 1.5rem;
}

/* Plans section */

.plans {
  background-color: lightgray;
}

.plans h1,
p {
  text-align: center;
}

.plans h1 {
  padding-top: 40px;
}

.card-section {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-bottom: 50px;
  padding-top: 20px;
}

.card {
  background-color: var(--primary-color);
  width: 300px;
  padding: 40px;
  border-radius: 5px;
  border: 1px solid gray;
}

.card ul {
  padding-left: 0;
}

.card ul li {
  list-style-type: none;
  line-height: 35px;
}

.card ul li::before {
  content: "✓";
  color: var(--button-color);
  padding-right: 5px;
}

.card h2 {
  text-transform: uppercase;
  font-size: 1rem;
  color: gray;
}

.card p {
  text-align: left;
  color: gray;
}

.card p span {
  font-weight: bold;
  font-size: 2.5rem;
  color: black;
}

.card button {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--button-color);
  font-weight: 500;
  border-radius: 5px;
}

.card:nth-of-type(1) button {
  color: var(--button-color);
  background: none;
}

.card:nth-of-type(2) button {
  color: var(--primary-color);
  background: var(--button-color);
}

/* customer testimonials section */

.customer-testimonials {
  text-align: center;
}

.customer-testimonials p {
  color: lightgray;
}

.testimonials-quote {
  border: 1px solid lightgray;
  width: 500px;
  border-radius: 5px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  align-items: center;
}

.testimonial-quote-text {
  padding-left: 20px;
}

.testimonial-quote-text p {
  text-align: left;
}

.testimonial-quote-text p:first-of-type {
  color: black;
}

.fa-quote-right {
  background-color: var(--button-color);
  width: 40px;
  height: 30px;
  border-radius: 5px;
  color: var(--primary-color);
}

/* get in touch section */

.get-in-touch {
  background-color: lightgray;
  text-align: center;
  padding: 40px;
}

.get-in-touch form {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  gap: 10px;
}

.get-in-touch form input,
form textarea {
  padding: 20px;
  border: 1px solid rgb(176, 176, 176);
}

.get-in-touch form button {
  padding: 15px;
  background-color: var(--button-color);
  color: var(--primary-color);
  border: none;
  border-radius: 5px;
}

.fa-envelope {
  background-color: var(--button-color);
  width: 40px;
  height: 30px;
  border-radius: 5px;
  font-size: 1.5rem;
  color: var(--primary-color);
}

/* footer */

footer {
  background-color: var(--nav-color);
  color: var(--primary-color);
  padding: 40px;
}

footer p {
  margin: 0;
}
