:root {
  /* primary */
  --primary-color-one: hsl(243, 87%, 12%);
  --primary-color-two: hsl(238, 22%, 44%);

  /* accent */
  --accent-color-one: hsl(224, 93%, 58%);
  --accent-color-two: hsl(170, 45%, 43%);

  /* neutral */
  --neutral-color-one: hsl(240, 75%, 98%);
  --neutral-color-two: hsl(0, 0%, 75%);
}

* {
  box-sizing: border-box;
  margin: 0;
}

/* header styling */

h1,
header {
  font-family: RalewayArial, Helvetica, sans-serif;
}

.logo {
  width: 150px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav ul {
  display: flex;
  gap: 15px;
  padding-left: 0;
}

nav ul li {
  list-style-type: none;
  color: var(--primary-color-one);
  & a {
    text-decoration: none;
    font-size: 0.9rem;
  }
}

/* hero section */

.hero {
  padding: 20px;
  margin-bottom: 30px;
}

.hero-image img {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 20px;
}

.hero-text {
  text-align: center;
}

.hero-text h1 {
  font-weight: 700;
  color: var(--primary-color-one);
  font-size: 1.5rem;
  line-height: 2.2rem;
  margin-bottom: 20px;
}

.hero-text p {
  line-height: 1.5rem;
  color: var(--primary-color-one);
  margin-bottom: 40px;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
}

.hero-text form input,
button {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
}

.hero-text form input {
  border: 1px solid var(--primary-color-one);
}

.hero-text form button {
  border: 1px solid var(--accent-color-one);
  background-color: var(--accent-color-one);
  color: var(--neutral-color-one);
  font-weight: 400;
}

/* say productive section */

.stay-productive {
  background-color: var(--neutral-color-one);
  padding-bottom: 80px;
}

.stay-productive figure img:nth-of-type(2) {
  display: none;
}

.stay-productive figure {
  position: relative;
}

.stay-productive figure img:nth-of-type(1) {
  position: absolute;
  top: -35px;
  color: var(--neutral-color-one);
  z-index: -1;
}

.stay-productive figure img:nth-of-type(3) {
  width: 100%;
  margin-bottom: 40px;
}

.stay-productive-text h1 {
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 30px;
}

.stay-productive-text p {
  padding: 10px 20px;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
}

.see-how-works {
  margin: 20px auto;
  text-align: center;
  font-family: Oepn Sans, Arial, Helvetica, sans-serif;
  color: var(--accent-color-two);
}

.stay-productive-card {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  padding: 20px 5px 20px 30px;
  border-radius: 5px;
}

.stay-productive-card img {
  margin-bottom: 10px;
}

.stay-productive-card p,
.stay-productive-card-person-text {
  font-family: Open Sans, Arial, Helvetica, sans-serif;
}

.stay-productive-card-person-text {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}

/* get early access section */

.get-early-access {
  background-color: var(--primary-color-two);
  text-align: center;
  padding: 40px;
}

.get-early-access h1 {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 20px;
  color: var(--neutral-color-one);
}

.get-early-access p {
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  color: var(--neutral-color-one);
  padding-bottom: 30px;
}

.get-early-access form input {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid white;
  margin-bottom: 15px;
}

.get-early-access form button {
  background-color: var(--accent-color-one);
  color: var(--neutral-color-one);
  font-weight: 500;
  border: 1px solid var(--accent-color-one);
}

/* footer */

footer {
  background-color: var(--primary-color-one);
  padding-top: 40px;
  padding-left: 40px;
  color: var(--neutral-color-one);
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
}

.footer-logo {
  width: 200px;
}

.footer-links-one ul,
.footer-links-two ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 40px;
}

.align-contact-details {
  display: flex;
  gap: 10px;
  padding: 10px 0;
}

.footer-social-media-icons {
  text-align: center;
  & i {
    font-size: 1.5rem;
    color: var(--neutral-color-one);
  }
}

@media screen and (min-width: 376px) {
  /* header */
  nav ul {
    gap: 20px;
  }

  header {
    padding: 40px;
  }

  /* hero section */
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .hero-image {
    grid-column: 2;
    grid-row: 1;
  }

  .hero-text {
    text-align: left;
  }

  .hero-text form {
    display: flex;
    gap: 20px;
    & button {
      width: 40%;
    }
  }
}
