:root {
  --primary-color: #fff;
  --secondary-color: #000;

  --main-color: #f5b82e;
  --text-color: #2b2b2b;
  --background-color: #fbfcff;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--background-color);
}

/* header styling */

header nav {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 20px 25px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
  color: var(--secondary-color);
}

header nav ul {
  list-style-type: none;
  padding-left: 0;
  & li {
    padding-top: 20px;
  }
}

header nav a {
  text-decoration: none;
}

/* section hero styling */

.hero-text {
  padding: 0 20px;
}

.hero-text h3 {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--main-color);
  text-transform: uppercase;
}

.hero-text h1 {
  font-family: Playfair Display, Georgia, "Times New Roman", Times, serif;
  padding: 10px 0 20px 0;
  font-size: 2.7rem;
  color: var(--secondary-color);
}

.hero-text p {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: rgb(117, 117, 117);
  line-height: 25px;
  margin-bottom: 20px;
}

.hero-buttons {
  padding-bottom: 40px;
}

.button-one {
  padding: 7px 15px;
  border-radius: 5px;
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  color: var(--text-color);
}

.button-two {
  padding: 7px 15px;
  border-radius: 5px;
  background: var(--background-color);
  border: 2px solid var(--text-color);
  margin-left: 5px;
}

.hero img {
  width: 140%;
  margin-left: -100px;
}

/* main - projects section */

.projects-section {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-section h1 {
    font-family: Playfair Display, Georgia, 'Times New Roman', Times, serif;
    color: var(--text-color);
    margin-bottom: 5px;
}

.line {
    width: 65px;
    height: 3px;
    background-color: var(--main-color);
}

.project-card {
    width: 90%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.project-card-text {
    padding: 80px 30px;
    background-color: var(--primary-color);
    border-radius: 10px;
}

.project-card h1 {
    padding-bottom: 20px;
}

.project-card p {
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: rgb(117, 117, 117);
    line-height: 25px;
}

.project-card-text button {
    padding: 7px 15px;
    border-radius: 15px;
    background: var(--primary-color);
    border-radius: 20px;
    border: 2px solid var(--text-color);
    margin-top: 20px;
}

.project-card img {
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 19px;
}